/*GLOBAL*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: vt323, monospace;
  color: #ffffff;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  background-image: url("../img/bg.jpg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  background-image: url("../img/bg-main.png");
  background-position: bottom left;
  background-repeat: repeat-x;
}

@media (max-height: 700px) {
  .page-main {
    background-size: auto 400px;
  }
}

@media (min-height: 1080px) {
  .page-main {
    background-size: auto 750px;
  }
}

@media (min-height: 1620px) {
  .page-main {
    background-size: auto 1500px;
  }
}

@media (min-height: 2430px) {
  .page-main {
    background-size: auto 2250px;
  }
}

.page-main__inner {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr auto;
}

@media (min-height: 1080px) {
  .page-main__inner {
    width: 1440px;
    padding: 0 30px;

    grid-template-columns: 450px auto;
  }
}

@media (min-height: 1620px) {
  .page-main__inner {
    width: 2880px;
    padding: 0 60px;

    grid-template-columns: 900px auto;
  }
}

@media (min-height: 2430px) {
  .page-main__inner {
    width: 4320px;
    padding: 0 90px;

    grid-template-columns: 1350px auto;
  }
}

.page-title {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  grid-column: 1 / -1;
}

@media (min-height: 1080px) {
  .page-title {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 60px;

    font-size: 3.7em;
  }
}

@media (min-height: 1620px) {
  .page-title {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 120px;

    font-size: 7.5em;
  }
}

@media (min-height: 2430px) {
  .page-title {
    margin-top: 45px;
    padding-top: 90px;
    padding-bottom: 180px;

    font-size: 11em;
  }
}

.container {
  padding-top: 100px;
  align-self: end;
  position: relative;

  grid-row: -2 / -1;
}

@media (min-height: 1080px) {
  .container {
    padding-top: 150px;
  }
}

@media (min-height: 1620px) {
  .container {
    padding-top: 300px;
  }
}

@media (min-height: 2430px) {
  .container {
    padding-top: 450px;
  }
}

.container__hero {
  width: 100px;
  height: 100px;

  background-image: url("../img/mario.png");
  background-size: auto 100px;
  background-position: bottom center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-height: 1080px) {
  .container__hero {
    width: 150px;
    height: 150px;

    background-size: auto 150px;
  }
}

@media (min-height: 1620px) {
  .container__hero {
    width: 300px;
    height: 300px;

    background-size: auto 300px;
  }
}

@media (min-height: 2430px) {
  .container__hero {
    width: 450px;
    height: 450px;

    background-size: auto 450px;
  }
}

.button {
  display: block;
  width: 100px;
  height: 265px;
  background-size: 100px auto;

  padding-top: 20px;
  box-sizing: border-box;

  color: #000000;

  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 27px;

  background-image: url("../img/pipe.png");
}

@media (min-height: 1080px) {
  .button {
    width: 150px;
    height: 398px;
    background-size: 150px auto;

    font-size: 40px;
  }
}

@media (min-height: 1620px) {
  .button {
    width: 300px;
    height: 795px;
    background-size: 300px auto;

    font-size: 81px;
  }
}

@media (min-height: 2430px) {
  .button {
    width: 450px;
    height: 1193px;
    background-size: 450px auto;

    font-size: 122px;
  }
}

.button:hover {
  color: #dd0000;
}

.button:active {
  font-weight: normal;
}

.info {
  grid-row: -2 / -1;

  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}

@media (min-height: 1080px) {
  .info {
    text-shadow: 1.5px 0 1.5px #000,
    0 1.5px 1.5px #000,
    -1.5px 0 1.5px #000,
    0 -1.5px 1.5px #000;
  }
}

@media (min-height: 1620px) {
  .info {
    text-shadow: 3px 0 3px #000,
    0 3px 3px #000,
    -3px 0 3px #000,
    0 -3px 3px #000;
  }
}

@media (min-height: 2430px) {
  .info {
    text-shadow: 4.5px 0 4.5px #000,
    0 4.5px 4.5px #000,
    -4.5px 0 4.5px #000,
    0 -4.5px 4.5px #000;
  }
}

.about {
  margin-bottom: 70px;
}

@media (min-height: 1080px) {
  .about {
    margin-bottom: 105px;
  }
}

@media (min-height: 1620px) {
  .about {
    margin-bottom: 210px;
  }
}

@media (min-height: 2430px) {
  .about {
    margin-bottom: 315px;
  }
}

.info__title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-height: 1080px) {
  .info__title {
    font-size: 37px;
    margin-bottom: 15px;
  }
}

@media (min-height: 1620px) {
  .info__title {
    font-size: 75px;
    margin-bottom: 30px;
  }
}

@media (min-height: 2430px) {
  .info__title {
    font-size: 113px;
    margin-bottom: 45px;
  }
}

.info__text {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-height: 1080px) {
  .info__text {
    font-size: 37px;
    /*margin-bottom: 105px;*/
  }
}

@media (min-height: 1620px) {
  .info__text {
    font-size: 75px;
    /*margin-bottom: 210px;*/
  }
}

@media (min-height: 2430px) {
  .info__text {
    font-size: 113px;
    /*margin-bottom: 315px;*/
  }
}

.contacts__links {
  width: 350px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-around;
  background-image: url("../img/contacts-bg.jpg");
}

@media (min-height: 1080px) {
  .contacts__links {
    width: 525px;
    margin-bottom: 30px;
    background-size: auto 75px;
  }
}

@media (min-height: 1620px) {
  .contacts__links {
    width: 1050px;
    margin-bottom: 60px;
    background-size: auto 150px;
  }
}

@media (min-height: 2430px) {
  .contacts__links {
    width: 1575px;
    margin-bottom: 90px;
    background-size: auto 225px;
  }
}

.contacts__link {
  display: block;
  width: 50px;
  height: 50px;
}

@media (min-height: 1080px) {
  .contacts__link {
    width: 75px;
    height: 75px;
    background-size: 75px auto;
  }
}

@media (min-height: 1620px) {
  .contacts__link {
    width: 150px;
    height: 150px;
    background-size: 150px auto;
  }
}

@media (min-height: 2430px) {
  .contacts__link {
    width: 225px;
    height: 225px;
    background-size: 225px auto;
  }
}

.contacts__link:hover {
  box-shadow: 0 0 10px 2px #ffffff inset;
}

.contacts__link:active {
  box-shadow: 0 0 20px 2px #ffffff inset;
}

.contacts__link--github {
  background-image: url("../img/github-mario.png");
}

.contacts__link--telegram {
  background-image: url("../img/telegram-mario.png");
}

.contacts__link--mail {
  background-image: url("../img/mail-mario.png");
}

.page-footer {
  height: 113px;
  background-image: url("../img/bg-footer.jpg");
}

@media (min-height: 1620px) {
  .page-footer {
    height: 170px;
    background-size: auto 170px;
  }
}

@media (min-height: 2430px) {
  .page-footer {
    height: 255px;
    background-size: auto 255px;
  }
}

/*works*/

.go-back {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  grid-column: 1 / -1;
  text-decoration: none;
  color: inherit;

  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.works {
  width: 960px;
  height: 1125px;
  margin: 0 auto;
  padding-top: 100px;
  background-image: url("../img/castle.png");
  background-size: 960px auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.works__certificates {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 110px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 160px);
}


