/*GLOBAL*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: vt323, monospace;
  color: #ffffff;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  background-image: url("../img/bg.jpg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  background-image: url("../img/bg-main.png");
  background-position: bottom left;
  background-repeat: repeat-x;
}

.page-main__inner {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr auto;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  grid-column: 1 / -1;
}

.container {
  padding-top: 100px;
  align-self: end;
  position: relative;

  grid-row: -2 / -1;
}

.container__hero {
  width: 100px;
  height: 100px;

  background-image: url("../img/mario.png");
  background-size: auto 100px;
  background-position: bottom center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}


@media (min-height: 0),
 (max-height: 1080px){
 .button {
   width: 100px;
   height: 265px;
   background-size: 100px auto;

   font-size: 27px;
 }
}

@media (min-height: 1080px) {
  .button {
    width: 200px;
    height: 530px;
    background-size: 200px auto;

    font-size: 54px;
  }
}

.button {
  display: block;

  padding-top: 20px;
  box-sizing: border-box;

  color: #000000;

  font-weight: bold;
  text-decoration: none;
  text-align: center;

  background-image: url("../img/pipe.png");

}

.button:hover {
  color: #dd0000;
}

.button:active {
  font-weight: normal;
}

.info {
  grid-row: -2 / -1;
}

.info__title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

.info__text {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 70px;
}

.contacts__links {
  width: 350px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-around;
  background-image: url("../img/contacts-bg.jpg");
}

.contacts__link {
  display: block;
  width: 50px;
  height: 50px;
}

.contacts__link:hover {
  box-shadow: 0 0 10px 2px #ffffff inset;
}

.contacts__link:active {
  box-shadow: 0 0 20px 2px #ffffff inset;
}

.contacts__link--github {
  background-image: url("../img/github-mario.png");
}

.contacts__link--telegram {
  background-image: url("../img/telegram-mario.png");
}

.contacts__link--mail {
  background-image: url("../img/mail-mario.png");
}

@media (max-height: 100px) {
  .page-footer {

  }
}

@media (min-height: 1600px) {
  .page-footer {
    height: 226px;
    /*background-size: 500px auto;*/
  }
}

.page-footer {
  height: 113px;
  background-image: url("../img/bg-footer.jpg");
}

/*works*/

.go-back {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  grid-column: 1 / -1;
  text-decoration: none;
  color: inherit;

  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.works {
  width: 960px;
  height: 1125px;
  margin: 0 auto;
  padding-top: 100px;
  background-image: url("../img/castle.png");
  background-size: 960px auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.works__certificates {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 110px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 160px);
}

.works__title-certificates {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin: 30px 0;
  grid-column: 1 / -1;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}

.works__certificate {
  margin: 0 auto;

  background-position: center;
}

.works__certificate--html,
.works__certificate--adaptive {
  margin-top: 59px;

  width: 65px;
  height: 100px;

  background-size: 100px auto;
}

.works__certificate--html {
  background-image: url("../img/certificates/HTML.jpg");
}

.works__certificate--adaptive {
  background-image: url("../img/certificates/HTML-adaptive.jpg");
}

.works__certificate--js {
  width: 110px;
  height: 210px;

  grid-column: 1 / -1;

  background-image: url("../img/certificates/js.jpg");
  background-size: 180px auto;
  border-radius: 80px 80px 0 0;
}

.works__title {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin: 30px 0;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}

.works__items-top {
  width: 428px;
  margin: 0 auto;
  display: flex;
}

.works__items-bottom {
  width: 645px;
  margin: 0 auto;
  display: flex;
}

.works__item {
  margin: 0 auto;
  width: 110px;
  height: 210px;

  background-image: url("../img/certificates/js.jpg");
  background-size: 180px auto;
  border-radius: 80px 80px 0 0;
}
